# Configuración de entorno para variables sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs: se evita subir archivos log que solo ocupan espacio
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias, builds y configs locales
node_modules/
dist-ssr
*.local

# Archivos del editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?